## 通用配置
# 操作系统文件
.DS_Store
Thumbs.db

# 忽略临时文件
*.log
*.tmp
*.swp

# 忽略备份文件
*.bak
*.old

# 忽略 IDE 和编辑器的配置文件
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.user

# Git
*.orig

# 忽略 Node.js
node_modules/
dist/
bower_components/
jspm_packages/
npm-debug.log*
yarn-error.log*
yarn-debug.log*

# parcel-cache
.parcel-cache/